:root {
  --unnamed-color-43afff: #43AFFF;
  --unnamed-color-ffffff: #FFFFFF;
  --unnamed-color-303f60: #303F60;
  }

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  height:auto;
  font-family: Helvetica , cursive;
  color : var(--unnamed-color-ffffff);
}

body{
  background: #43AFFF33 0% 0% no-repeat padding-box;
  min-height:100vh;
  box-sizing: border-box;
}

.homepageUpperDiv{
  width:100%;
  height:460px;
  background: transparent linear-gradient(248deg, var(--unnamed-color-303f60) 0%, #1A253C 100%) 0% 0% no-repeat padding-box;
}

.nav-bar{
  width:90%;
  margin: 0 auto 1rem ;
  border-bottom:1px solid #43afff;
  padding:1rem 0rem;
}

.navBar-header{
  display: inline-block;
  width:80%;
  text-align: left;
  font-size: 22px;
  font-weight: bold;
}

.navBar-button{
  display: inline-block;
  width:20%;
  text-align: right;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor:pointer;
}

.header-span{
  color:var(--unnamed-color-43afff);
}

.navBar-button button{
  border: 1px solid #43AFFF;
  border-radius: 5px;
  padding: 10px 1rem;
  font-size: 12px;
  background: #43AFFF33 0% 0% no-repeat;
}

.header{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.header-heading{
  width:50%;
  display: inline-block;
  font-size: 60px;
  text-align: center;
  padding: 4rem;
}

.header-heading p{
  width:60%;
  margin: auto;
  text-align: left;
}

.header-button{
  display: block;
  margin : 3rem 8rem 0;
  border: 1px solid #43AFFF;
  border-radius: 5px;
  padding: 10px 2rem;
  font-weight: bold;
  background: var(--unnamed-color-43afff) 0% 0% no-repeat;
}

.header-image{
  width:45%;
  margin:auto;
  position: absolute;
  height:400px;
  top:200px;
  display: inline-block;
  border-radius: 25px;
  box-shadow: 0 30px 36px #557DA526;
}

.main-body{
  padding:6rem 12rem 0;
}

.mainBody-header{
  color:var(--unnamed-color-303f60);
  font-weight: bold;
}

.cards{
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.card{
  background-color: var(--unnamed-color-ffffff);
  width:350px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 3px 6px #557DA526;
  margin-right: 1rem;
  display: flex;
  flex-flow: column nowrap;
  padding:1rem;
}

.card span{
  color: var(--unnamed-color-43afff);
  width: 120px;
  line-height: 25px;
  font-weight: bold;
  font-size: 1.1rem;
}

.card p{
  color: var(--unnamed-color-303f60);
  padding: 1rem 0rem;
  font-size: 13px;
}

.brands-body{
  padding:2rem 12rem;
}

.logo img{
  width:150px;
  height:120px;
  background: transparent;
}

.form{
  background: var(--unnamed-color-ffffff);
  width:557px;
  height:auto;
  border-radius: 20px;
  margin:2rem auto;
  padding:1.5rem;
  box-shadow: 0px 30px 36px #557DA526;
  position: absolute;
  top:160px;
  left:30%;
  display: block;
}

.forgot-para{
  color: var(--unnamed-color-303f60);
  font-size: 13px;
  margin-bottom:2rem;
}

.signUp{
  top:80px;
  margin-bottom: 1rem;
}

.form-heading{
  color:var(--unnamed-color-303f60);
  font-size:1.2rem;
  margin-bottom: 1.2rem;
  font-weight: bold;
}

.form-label{
  color:black;
  font-size:14px;
  display: inline-block;
  margin-bottom: 10px;
}

.form-input{
  display: block;
  margin: 0 0 5px 0;
  width:100%;
  font-size: 12px;
  height:50px;
  border-radius: 5px;
  color:var(--unnamed-color-303f60);
  padding: 0 1rem 0;
  outline : none;
  border: 1px solid var(--unnamed-color-43afff);
  background: #E8E8E833;
}

.submit-button{
  display: block;
  text-align: center;
  margin: 2rem auto 1rem;
  border: 1px solid #43AFFF;
  border-radius: 5px;
  padding: 10px 2rem;
  font-weight: bold;
  background: var(--unnamed-color-43afff) 0% 0% no-repeat;
}

.redirection-para{
  color: var(--unnamed-color-303f60);
  text-align: center;
  font-size: 13px;
  margin-block-end: 0;
}

.forgot-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.forgot-div .link{
  margin-bottom: 10px;
}

.error{
  color:red;
  font-size: 12px;
  text-align: right;
  padding: 0 1rem;
}

.link{
  color: var(--unnamed-color-43afff);
  font-weight: bold;
  font-size:13px;
}

.password-div{
  display: flex;
  justify-content: space-between;
}

.form-row{
  margin-bottom: 1rem;
}

.password-div .form-row{
  width:45%;
  display: inline-flex;
  flex-direction: column;
}

.donate-now {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.donate-now li {
  width: 120px;
  height: 30px;
  position: relative;
}

.donate-now input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.donate-now input[type="radio"]:checked+label,
.Checked+label {
  background: var(--unnamed-color-43afff);
  color:var(--unnamed-color-ffffff);
}

.donate-now label {
  padding: 5px;
  border: 1px solid #CCC;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  z-index: 90;
  color:var(--unnamed-color-43afff);
} 
