:root {
  --unnamed-color-43afff: #2b8cd6;
  --unnamed-color-ffffff: #FFFFFF;
  --unnamed-color-303f60: #303F60;
  }

*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  height:auto;
  font-family: Helvetica , cursive;
  color : var(--unnamed-color-ffffff);
}

body{
  background: #43AFFF33 0% 0% no-repeat padding-box;
  min-height:100vh;
  box-sizing: border-box;
}

.homepageUpperDiv{
  width:100%;
  height:460px;
  background: transparent linear-gradient(248deg, var(--unnamed-color-303f60) 0%, #1A253C 100%) 0% 0% no-repeat padding-box;
}

.nav-bar{
  width:90%;
  margin: 0 auto 1rem ;
  border-bottom:1px solid #43afff;
  padding:1rem 0rem;
}

.navBar-header{
  display: inline-block;
  width:80%;
  text-align: left;
  font-size: 22px;
  font-weight: bold;
}

.navBar-button{
  display: inline-block;
  width:20%;
  text-align: right;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor:pointer;
}

.header-span{
  color:var(--unnamed-color-43afff);
}

.navBar-button button{
  border: 1px solid #43AFFF;
  border-radius: 5px;
  padding: 10px 1rem;
  font-size: 12px;
  background: #43AFFF33 0% 0% no-repeat;
}

.header{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.header-heading{
  width:50%;
  display: inline-block;
  font-size: 60px;
  text-align: center;
  padding: 4rem;
}

.header-heading p{
  width:60%;
  margin: auto;
  text-align: left;
}

.header-button{
  display: block;
  margin : 3rem 8rem 0;
  border: 1px solid #43AFFF;
  border-radius: 5px;
  padding: 10px 2rem;
  font-weight: bold;
  background: var(--unnamed-color-43afff) 0% 0% no-repeat;
}

.header-image{
  width:45%;
  margin:auto;
  position: absolute;
  height:400px;
  top:200px;
  display: inline-block;
  border-radius: 25px;
  box-shadow: 0 30px 36px #557DA526;
}

.main-body{
  padding:6rem 12rem 0;
}

.mainBody-header{
  color:var(--unnamed-color-303f60);
  font-weight: bold;
}

.cards{
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}

.card{
  background-color: var(--unnamed-color-ffffff);
  width:350px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 3px 6px #557DA526;
  margin-right: 1rem;
  display: flex;
  flex-flow: column nowrap;
  padding:1rem;
}

.card span{
  color: var(--unnamed-color-43afff);
  width: 120px;
  line-height: 25px;
  font-weight: bold;
  font-size: 1.1rem;
}

.card p{
  color: var(--unnamed-color-303f60);
  padding: 1rem 0rem;
  font-size: 13px;
}

.brands-body{
  padding:2rem 12rem;
}

.logo img{
  width:150px;
  height:120px;
  background: transparent;
}

.form{
  background: var(--unnamed-color-ffffff);
  width:557px;
  height:auto;
  border-radius: 20px;
  margin:2rem auto;
  padding:1.5rem;
  box-shadow: 0px 30px 36px #557DA526;
  position: absolute;
  top:160px;
  left:30%;
  display: block;
}

.forgot-para{
  color: var(--unnamed-color-303f60);
  font-size: 13px;
  margin-bottom:2rem;
}

.signUp{
  position: static;
  top:0px;
  margin-bottom: 1rem;
}

.form-heading{
  color:var(--unnamed-color-303f60);
  font-size:1.2rem;
  margin-bottom: 1.2rem;
  font-weight: bold;
}

.form-label{
  color:black;
  font-size:14px;
  display: inline-block;
  margin-bottom: 10px;
}

.form-input{
  display: block;
  margin: 0 0 5px 0;
  width:100%;
  font-size: 12px;
  height:50px;
  border-radius: 5px;
  color:var(--unnamed-color-303f60);
  padding: 0 1rem 0;
  outline : none;
  border: 1px solid var(--unnamed-color-43afff);
  background: #E8E8E833;
}

.submit-button{
  display: block;
  text-align: center;
  margin: 2rem auto 1rem;
  border: 1px solid #43AFFF;
  border-radius: 5px;
  padding: 10px 2rem;
  font-weight: bold;
  cursor: pointer;
  background: var(--unnamed-color-43afff) 0% 0% no-repeat;
}

.redirection-para{
  color: var(--unnamed-color-303f60);
  text-align: center;
  font-size: 13px;
  margin-block-end: 0;
}

.forgot-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.forgot-div .link{
  margin-bottom: 10px;
}

.error{
  color:red;
  font-size: 12px;
  text-align: right;
  padding: 0 1rem;
}

.success{
  color : green;
  font-size: 16px;
  padding-top: 1rem;
}

.link{
  color: var(--unnamed-color-43afff);
  font-weight: bold;
  font-size:13px;
}

.password-div{
  display: flex;
  justify-content: space-between;
}

.form-row{
  margin-bottom: 1rem;
}

.password-div .form-row{
  width:45%;
  display: inline-flex;
  flex-direction: column;
}

.donate-now {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.donate-now li {
  width: 120px;
  height: 30px;
  position: relative;
}

.donate-now input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.donate-now input[type="radio"]:checked+label{
  background: var(--unnamed-color-43afff);
  color:var(--unnamed-color-ffffff);
}

.donate-now label {
  padding: 5px;
  border: 1px solid #CCC;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  z-index: 90;
  color:var(--unnamed-color-43afff);
} 

.form-wrapper{
  position: relative;
  padding-bottom:2rem;
}

.jobPost-link{
  position: relative;
  right:-82%;
  display: inline-block;
  top:-55px;
  opacity: 0.8;
  font-size: 0.8rem;
}

.logout-div{
  position:relative;
  display: inline-block;
  right:-85%;
  top:-68px;
  border-radius: 25px;
  opacity: 1;
  width: 40px;
  height: 40px;
  background: #D9EFFF 0% 0% no-repeat padding-box;
}

.nameInitial{
  position: relative;
  top:11px;
  left:37%;
  color:var(--unnamed-color-303f60);
  opacity: 0.8;
}

.arrow-span{
  position: relative;
  display: inline-block;
  top:-52px;
  left:86%;
  opacity: 0.8;
  font-size: 1rem;
  cursor: pointer;
}

.addPost-image{
  height:106px;
  width:106px;
}

.noPosts-div{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  bottom:20%;
  width:100%;
}

.noPosts-div p{
  color:var(--unnamed-color-303f60);
  margin-top:1rem;
  opacity: 0.8;
}

.redirection-Link{
  position: absolute;
  top:10%;
  display: inline-flex;
  flex-flow: column nowrap;
  left:12%;
  font-size: 1.2rem;
  width:200px;
}

.redirection-Link span{
  padding-bottom:2rem; 
  font-size: 0.7rem;
}

#arrow-up{
  display: none;
}

.logoutAlert-div{
  position:absolute;
  top:10%;
  left:87%;
  padding:10px 1rem;
  border-radius: 10px 0 10px 10px ;
  background: var(--unnamed-color-ffffff) ;
  width:100px;
  display: none;
  z-index: 100;
}

.logoutAlert-div span{
  font-weight: bolder;
  color:var(--unnamed-color-303f60);
  font-size: 0.8rem;
  cursor:pointer;
}

.logoutAlert-success{
  position:absolute;
  font-weight: bolder;
  top:12%;
  left:75%;
  border-radius: 10px 0 10px 10px ;
  background: var(--unnamed-color-ffffff) ;
  width:200px;
  height:40px;
  display: inline-flex;
}

.logoutAlert-success span{
  color:var(--unnamed-color-303f60);
  font-size: 0.8rem;
  
}

#content{
  align-self: center;
  padding: 0 1rem;
}

#close{
  padding-top : 5px;
  cursor: pointer;
}

#description{
  height:6rem;
  resize: none;
  padding:1rem;
}

.post-form{
  top:15%;
}

.posts-Div{
  position: absolute;
  margin:1rem;
  padding: 1rem 5rem;
  width:100%;
  top:20%;
  align-content: flex-start;
  justify-content: space-evenly;
  display: flex;
  flex-flow: row wrap;
  opacity: 1;
}

.jobPosts-div{
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  margin: 1rem;
  width:260px;
  height:160px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #557DA526;
  border-radius: 10px;
  opacity: 1;
}

.postTitle{
  color: var(--unnamed-color-303f60); 
  opacity: 0.9;
  margin-bottom: 1rem;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 0.9rem;
}

.postDesc{
  color : var(--unnamed-color-303f60);
  opacity: 0.8;
  font-size:0.8rem;
  margin-bottom: 1rem;
}

.postLocation{
  color : var(--unnamed-color-303f60);
  opacity: 0.8;
  font-size:0.8rem;
  margin-right: 1rem;
  text-transform: capitalize;
}

.location-Div{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.view-Applications{
  padding: 10px 1rem; 
  font-size: 10px;
  color: #303F60;
  text-transform: capitalize;
  background: #43AFFF33;
  border-radius: 5px;
  opacity: 0.9;
  border:none;
  cursor: pointer;
}

.applications-div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-45%);
  width: 700px;
  height: 600px;
  padding:2rem;
  background: var(--unnamed-color-ffffff);
  box-shadow: 0px 30px 36px #557DA526;
  border-radius: 20px;
  opacity: 1;
  z-index: 100;
  display: none;
  pointer-events: initial;
}

.applicationDiv-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.applicationDiv-header span{
  color:var(--unnamed-color-303f60);
  font-size: 19px;
  font-weight: medium;
}

.X{
  font-weight: bolder;
  cursor: pointer;
}

.application-container{
  background: #A9AFBC;
  border-radius: 10px;
  opacity: 0.2;
}
